[Desktop Entry]
Type=Application
Name=Sioyek
Comment=Noesis research reader
Exec=@HOME@/.local/bin/sioyek %f
Icon=@HOME@/.local/opt/sioyek-2.0.0/sioyek-icon-linux.png
Terminal=false
Categories=Education;Science;
MimeType=application/pdf;
