[Unit]
Description=Persistent Sensei tmux server

[Service]
Type=simple
ExecStart=/usr/bin/tmux -D
ExecStartPost=%h/.local/bin/sensei-tmux --prepare
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
